.custom-button {
  background-color: #3b3b98;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #f5a486;
  transform: scale(1.05);
}

.custom-button:active {
  transform: scale(0.95);
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Resaltar con un pequeño brillo */
}
